<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <%= link_to root_path, class: "navbar-brand" do %>
    <%= image_tag "https://i.imgur.com/X7zeESG.png" %>
    <% end %>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>


  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      <% if passenger_signed_in? || driver_signed_in? %>
        <li class="nav-item dropdown">
          <% if !current_passenger.nil? %>
            <%= image_tag current_passenger.photo, class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
          <% end %>
          <% if !current_driver.nil? %>
            <%= image_tag current_driver.photo, class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
          <% end %>

        <div class="dropdown">
          <div class="dropdown-content">
            <% if !current_passenger.nil? %>
              <%= link_to "All journeys", journeys_path, class: "dropdown-item" %>
              <%= link_to "My reservations", passenger_path(current_passenger.id), class: "dropdown-item" %>
              <%= link_to 'Log out', destroy_driver_session_path, method: :delete, class: "dropdown-item" %>
            <% end %>
            <% if !current_driver.nil? %>
              <%= link_to "Create a journey", new_journey_path, class: "dropdown-item" %>
              <%= link_to "All journeys", journeys_path, class: "dropdown-item" %>
              <%= link_to "My journeys", driver_path(current_driver), class: "dropdown-item" %>
              <%= link_to 'Log out', destroy_driver_session_path, method: :delete, class: "dropdown-item" %>
            <% end %>
          </div>
        </div>

      </li>
      <% else %>
        <%= render(
          "shared/animated_button",
          text: "All journeys",
          link_url: journeys_path,
          link_class: "animated-button1"
        )%>
        <%= render(
          "shared/animated_button",
          text: "Login",
          link_url: login_path,
          link_class: "animated-button1"
        )%>
        <%= render(
          "shared/animated_button",
          text: "Sign up",
          link_url: signup_path,
          link_class: "animated-button1"
        )%>
       <% end %>
    </ul>
  </div>
</div>
