<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(http://www.sympatico.ca/image/policy:1.3250012:1504725688/planetes-type-terrestre-decouvertes-12-annees-lumiere.jpg?a=16%3A9&$p$a=7f606bf);">
  <div class="container">
    <h1>Blablaspace</h1>
    <h3>Live your childhood fantasy by travelling to space, going to techno clubs with aliens and drinking goo</h3>
    <div class="box-2">
    <%= link_to "Start Now", signup_path, id: "get-started", class: "btn btn-two" %>
</div>
  </div>
</div>

<div class="container">
  <h3>Some journeys which may interest you</h3>
  <div class="row">
    <% Journey.all.first(3).each do |journey| %>
      <div class="card-journey col-sm-3">
        <div id="infos">
          <%= link_to journey_path(journey) do %>
            <i class='fas fa-info-circle'></i>
          <% end %>
        </div>

        <div id="buy">
          <% if journey.available_seats.positive? %>
            <%= link_to 'Buy', new_journey_reservation_path(journey) %>
          <% end %>
        </div>
        <img src= <%= journey.photo %> />
        <div class="card-journey-infos mx-3">
          <div>
            <h2><%= journey.departure.capitalize %> <i class="fas fa-space-shuttle"></i> <%= journey.arrival.capitalize %></h2>
            <p> Departure time: <%= journey.date %></p>
            <p>
              <% if journey.available_seats.positive? %>
                <%= journey.available_seats %> seat(s) left</p>
              <% else %>
                <%= FULL %>
              <% end %>
          </div>
          <h2 id="card-journey"> <%= journey.price %></h2>
          <img src= <%= journey.driver.photo %> class= "card-journey-user avatar-bordered" />
        </div>
      </div>
    <% end %>
  </div>
</div>


<div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fab fa-github"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="credit">
    This footer was made by aliens with
    <i class="fas fa-heart"></i> at Le Wagon
  </div>





