
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(http://img.over-blog-kiwi.com/2/13/55/26/20160831/ob_079e34_planete-ordre.jpg);">
  <div class="container">
    <h1>Welcome to our Bullshit App</h1>
  </div>
</div>

<p><%= link_to 'Sign in as Driver', new_driver_session_path %></p>
<p><%= link_to 'Sign in as Passenger', new_passenger_session_path %></p>
<p><%= link_to 'create Driver account', new_driver_registration_path %></p>
<p><%= link_to 'create Passenger account', new_passenger_registration_path %></p>
<p><%= link_to 'Log out', destroy_driver_session_path, method: :delete %></p>
<p><%= link_to 'Create a Journey', new_journey_path %></p>
