<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(http://www.sympatico.ca/image/policy:1.3250012:1504725688/planetes-type-terrestre-decouvertes-12-annees-lumiere.jpg?a=16%3A9&$p$a=7f606bf);">
  <div class="container">
    <h1>Blablaspace</h1>
    <h3>Live your childhood fantasy by travelling to space, going to techno clubs with aliens and drinking goo</h3>
  </div>
</div>

<% if (current_driver || current_passenger).nil? %>
<p><%= link_to 'Login ', login_path %></p>
<% end %>

<% if (current_driver || current_passenger).nil? %>
<p><%= link_to 'Sign up ', signup_path %></p>
<% end %>

<% if !(current_driver || current_passenger).nil? %>
  <p><%= link_to 'Log out', destroy_driver_session_path, method: :delete %></p>
<% end %>

<% if !current_driver.nil? %>
<p><%= link_to 'Create a Journey', new_journey_path %></p>
<% end %>

<ul>
  <% Journey.all.each do |journey| %>
    <li>
      <%= journey.departure %> ---> <%= journey.arrival %>
    </li>
  <% end %>
</ul>

<div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fab fa-github"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="">

<ul>
  <% Journey.all.each do |journey| %>
    <li>
      <%= journey.departure %> ---> <%= journey.arrival %>
    </li>
  <% end %>
</ul>

<div class="footer">
        This footer was made by aliens with <i class="fas fa-heart"></i> at Le Wagon
    </div>
  </div>
</div>

