<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(http://www.sympatico.ca/image/policy:1.3250012:1504725688/planetes-type-terrestre-decouvertes-12-annees-lumiere.jpg?a=16%3A9&$p$a=7f606bf);">
  <div class="container">
    <h1>Blablaspace</h1>
    <h3>Live your childhood fantasy by travelling to space, going to techno clubs with aliens and drinking goo</h3>
    <div class="box-2">
    <div class="btn btn-two">
   <%= link_to "Login", login_path %>
    </div>
</div>
  </div>
</div>

<ul>
  <% Journey.all.each do |journey| %>
    <li>
      <%= journey.departure %> ---> <%= journey.arrival %>
    </li>
  <% end %>
</ul>
<ul>
  <% Journey.all.each do |journey| %>
    <li>
      <%= journey.departure %> ---> <%= journey.arrival %>
    </li>
  <% end %>
</ul>
<div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fab fa-github"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="credit">
    This footer was made by aliens with
    <i class="fas fa-heart"></i> at Le Wagon
  </div>

</div>

