<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(http://www.sympatico.ca/image/policy:1.3250012:1504725688/planetes-type-terrestre-decouvertes-12-annees-lumiere.jpg?a=16%3A9&$p$a=7f606bf);">
  <div class="container">
    <h1>Blablaspace</h1>
    <h3>Live your childhood fantasy by travelling to space, going to techno clubs with aliens and drinking goo</h3>
    <div class="box-2">
    <%= link_to "Login", login_path, class: "btn btn-two" %>
</div>
  </div>
</div>

<% Journey.all.each do |journey| %>
<div class="card-journey">
  <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" />
  <div class="card-journey-infos">
    <div>
      <h2> Journey: <%= journey.departure %> <i class="fas fa-space-shuttle"></i> <%= journey.arrival %></h2>
      <p> Departure time: <%= journey.date %></p>
      <p> Available seats: <%= journey.available_seats %></p>
    </div>
    <h2 class="card-journey"> €<%= journey.price %></h2>
    <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-journey-user avatar-bordered" />
      <% end %>
  </div>
</div>

</div>
<div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fab fa-github"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="credit">
    This footer was made by aliens with
    <i class="fas fa-heart"></i> at Le Wagon
  </div>





