<<<<<<< HEAD

<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(http://img.over-blog-kiwi.com/2/13/55/26/20160831/ob_079e34_planete-ordre.jpg);">
  <div class="container">
    <h1>Welcome to our Bullshit App</h1>
  </div>
</div>

<p><%= link_to 'Sign in as Driver', new_driver_session_path %></p>
<p><%= link_to 'Sign in as Passenger', new_passenger_session_path %></p>
<p><%= link_to 'create Driver account', new_driver_registration_path %></p>
<p><%= link_to 'create Passenger account', new_passenger_registration_path %></p>
<p><%= link_to 'Log out', destroy_driver_session_path, method: :delete %></p>
<p><%= link_to 'Create a Journey', new_journey_path %></p>
=======
<div class="container">
  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1543083115-638c32cd3d58?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1489&q=80)">
  Blablaspace
    <h1>Pages#home</h1>
</div>
    <p>Find me in (da club) app/views/pages/home.html.erb</p>
  </div>

<div class="card-category">
  <div class="cards">
    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1536697246787-1f7ae568d89a?ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60)">
      <p><%= link_to 'create account', new_driver_registration_path %></p>
  </div>
  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1494022299300-899b96e49893?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60)">
<p><%= link_to 'Log out', destroy_driver_session_path, method: :delete %></p>
</div>
  </div>
</div>
<div class="card-category">

<div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fab fa-github"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
    This footer was made by aliens with <i class="fas fa-heart"></i> at Le Wagon
  </div>
</div>
</div>
>>>>>>> c287934790b47a6617e89d361234b6d6b8045f2d
