<h1>Your Journeys</h1>

<% @driver.journeys.each do |journey| %>
  <div class="card-journey">
    <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" />
    <div class="card-journey-infos">
      <div>
        <h2> Journey: <%= journey.departure %> <i class="fas fa-space-shuttle"></i> <%= journey.arrival %></h2>
        <p> Departure time: <%= journey.date %></p>
        <p> Available seats: <%= journey.available_seats %></p>
        <h3> <%= link_to "Check details", journey_path(journey) %></h3>
      </div>
      <h2 class="card-journey"> €<%= journey.price %></h2>
      <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-journey-user avatar-bordered" />
    </div>
  </div>
<% end %>
