<h1>Available jouneys</h1>

<ul>
  <% @journeys.each do |journey| %>
    <li>
      <p>From: <strong> <%= journey.departure.capitalize %></strong> to: <strong> <%= journey.arrival.capitalize %></strong> ________
        <% if journey.available_seats.positive? %>
          <%= journey.available_seats %> seat(s) left</p>
        <% else %>
          FULL
        <% end %>
      <% if !current_passenger.nil? && journey.available_seats.positive? %>
      <%= link_to 'reserve',new_journey_reservation_path(journey) %>
      <% end %>
    </li>
  <% end %>
</ul>


<% if !current_driver.nil? %>
  <p><%= link_to 'Create a Journey', new_journey_path %></p>
  <p><%= link_to 'View my Journeys', driver_path(current_driver) %></p>
<% end %>
