
<div class="container">
<h1>Available jouneys</h1>

  <div class="container">
    <div class="row">
    <% Journey.all.each do |journey| %>
      <div class="card-journey col-sm-3">
        <div id="infos">
          <%= link_to journey_path(journey) do %>
            <i class='fas fa-info-circle'></i>
          <% end %>
        </div>

        <div id="buy">
          <% if !current_passenger.nil? && journey.available_seats.positive? %>
            <%= link_to 'Buy','#' %>
          <% end %>
        </div>
        <img src= <%= journey.photo %> />
        <div class="card-journey-infos mx-3">
          <div>
            <h2><%= journey.departure.capitalize %> <i class="fas fa-space-shuttle"></i> <%= journey.arrival.capitalize %></h2>
            <p> Departure time: <%= journey.date %></p>
            <p>
              <% if journey.available_seats.positive? %>
                <%= journey.available_seats %> seat(s) left</p>
              <% else %>
                <%= FULL %>
              <% end %>
            </p>
          </div>
          <h2 id="card-journey"> <%= journey.price %></h2>
          <img src= <%= journey.driver.photo %> class= "card-journey-user avatar-bordered" />
        </div>
      </div>
    <% end %>
  </div>
</div>

    <% if !current_driver.nil? %>
      <p><%= link_to 'Create a Journey', new_journey_path %></p>
      <p><%= link_to 'View my Journeys', driver_path(current_driver) %></p>
    <% end %>
</div>
