<div class="container">
  <div class="text">
    <h1>Journey Details</h1>
    <div class="container">
     <p>Departure: <%= @journey.departure %></p>
     <p>Arrival: <%= @journey.arrival %></p>
     <p>Number of available seats: <%= @journey.available_seats %></p>
     <p>Passengers in your Ship:</p>
     <% Reservation.where(journey: @journey).each do |reservation| %>
      <ul>
        <li>
          <p>
            <%= reservation.passenger.name  %> (<%= reservation.amount_of_passengers %> seats reserved)
            <%= link_to journey_reservation_path(reservation.journey_id, reservation), method: :delete, data: { confirm: 'Are you sure?' } do %>
              <i class="fas fa-minus-circle"></i>
            <% end %>
          </p>
        </li>
      </ul>
    <% end %>
   </div>
  </div>
</div>
